.title{
  background-color: #031931;
  color: #95c7fc;
  font-size: 24;
  font-family: Verdana;
  height: 70px;
  width: 700px;
  border: none;
  margin-bottom: 30px;
}

.title:hover{
  cursor: pointer;
}

.page-button1{
  margin-left: 50px;
  color: #ffffff;
  background-color: #1c3652;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Arial;
  font-size: 18;
  transition: opacity 0.1s, background-color 0.01s;
}

.page-button1:hover{
  opacity: 0.8;
}

.page-button1:active{
  background-color: #2d547d;
}

.page-button2{
  margin-left: 50px;
  color: #ffffff;
  background-color: #1c3652;
  height: 50px;
  width: 160px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Arial;
  font-size: 18;
  transition: opacity 0.1s, background-color 0.01s;
}

.page-button2:hover{
  opacity: 0.8;
}

.page-button2:active{
  background-color: #2d547d;
}

.text{
  padding-left: 20px;
  color: #ffffff;
  font-family: Arial;
  font-size: 16;
}

.link{
  padding-left: 20px;
  color: #136fda;
  font-family: Arial;
  font-size: 16;
}

.page-title{
  text-indent: 10px;
  color: #ffffff;
  font-family: Arial;
  font-size: 40;
}

.header{
  text-indent: 10px;
  color: #ffffff;
  font-family: Arial;
  font-size: 20;
  font-weight: bold;
}

.navbar{
  background-color: #031931;
  text-align: center;
  justify-content: center;
}

.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar li{
  float: left;
  padding: 0px 10px;
}

.navbar a{
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  font-family: Arial;
  font-size: 18;
  display: block;
}

.navbar a:hover{
  background-color: #2d547d;
}

.navbar a:active{
  opacity: 0.7;
}
